@font-face {
  font-family: "Unbounded";
  font-weight: 500;
  font-style: normal;
  src: url(./Unbounded-Medium.woff2), format("woff2");
}

@font-face {
  font-family: "Inter";
  src: url(./Inter_24pt-Bold.woff2), format("woff2");
  font-style: normal;
  font-weight: 700;
}
